@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html {
  width: 100%;
  height: 100%;
}
:root {
  --background-color: #fafafa;
  --color-dark: #1d1d20;
  --color-dark-gray: #6e6e73;
  --color-dark-gray-plus: #656569;
  --color-hover: #939393;
  --color-gray: #f5f5f7;
  --color-selfect: #535355;
  --color-unselect: #717176;
  --line-color: #a5a5a5;
  --border-radius: 4px;
  --rainbow-red: #db6b57;
  --rainbow-orange: #fdba5b;
  --rainbow-purple: #e1aaf8;
  --rainbow-green: #9ee09e;
  --rainbow-blue: #9ec1cf;

  /* Font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 300ms;
}
.sansserif {
  font-family: 'Helvetica Neue', HelveticaNeue, Arial, sans-serif;
}
.kr {
  font-family: 'NanumSquare', sans-serif;
}
/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin: auto;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-unselect);
}
ul {
  list-style: none;
  padding-left: 0;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gray);
  margin: 4px 0;
}
.small {
  font-size: var(--font-small);
}
.line {
  border-bottom: 0.1px solid var(--line-color);
  opacity: 0.3;

  width: 90%;
  margin: 100px auto;
}

.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  z-index: 1;
}
.nav-hidden {
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.nav-show {
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

.navbar-menu {
  /* opacity: 1; */
  display: flex;
}
@keyframes navShow {
  0% {
    opactiy: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar-item {
  padding: 12px 12px;
  margin: 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  animation: navShow 2s;
}
.navbar-item.active {
  border: 0.5px solid rgb(188, 187, 187);
}

.navbar-logo > img {
  width: 80px;
  height: 20px;
}
.one:hover {
  background-color: var(--rainbow-red);
  color: white;
}
.two:hover {
  background-color: var(--rainbow-orange);
  color: white;
}
.three:hover {
  background-color: var(--rainbow-green);
  color: rgb(255, 255, 255);
}
.four:hover {
  background-color: var(--rainbow-blue);
  color: white;
}
.five:hover {
  background-color: var(--rainbow-purple);
  color: white;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  height: 800px;
  width: 100%;
}
.round {
  position: absolute;
  /* margin-top: 100px; */
  width: 500px;
  height: 500px;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: circle infinite 90s linear;
}
.circle-box {
  position: relative;
  transform: translate(-250px, -150px);
}
.circle-box > div {
  position: absolute;
  width: 0;
  height: 0;
  margin-top: 135px;
  margin-left: 120px;
  border-style: solid;
  border-width: 160px 50px 0;
  transform-origin: 135px 30px;
  cursor: pointer;
  outline: none;
}
.circle-box div:nth-child(1) {
  transform: rotate(0deg);
  border-color: var(--rainbow-red) transparent;
}
.circle-box div:nth-child(2) {
  /* background-color: #9ee09e; */
  transform: rotate(72deg);
  border-color: var(--rainbow-orange) transparent;
}
.circle-box div:nth-child(3) {
  /* background-color: #9ee09e; */
  transform: rotate(144deg);
  border-color: var(--rainbow-green) transparent;
}
.circle-box div:nth-child(4) {
  /* background-color: #9ee09e; */
  transform: rotate(216deg);
  border-color: var(--rainbow-blue) transparent;
}
.circle-box div:nth-child(5) {
  /* background-color: #9ee09e; */
  transform: rotate(288deg);
  border-color: var(--rainbow-purple) transparent;
}

.item:hover {
  opacity: 0.7;
}

.circle-box > div > span {
  position: relative;
  top: -120px;
  left: -130px;
  margin-right: 10px;
  background-color: none;
  width: 100px;
  height: 100px;

  display: block;
  position: relative;
  padding-bottom: 40px;
  transform: rotate(72deg);
  white-space: nowrap;
  z-index: 0;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section {
  text-align: center;
  padding: 20px;
}
.avatar > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.stack-box > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  filter: brightness(3.2);
}
.profile {
  position: relative;
  text-align: center;
}
.profile-h2 {
  margin: 40px auto;
}
.fa-brands:hover {
  color: var(--rainbow-red);
  transform: rotate(-20deg) scale(2.2);
}
.fa-react {
  transition: all var(--animation-duration) ease;
  color: #087de4;
  font-size: 60px;
}
.front-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 70px;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0.5;
  border: 0.1px solid rgb(152, 152, 152);
}
.study {
  margin: 10px auto;
}
.education {
  margin: 50px auto;
}
.log-gugu {
  margin-top: 7px;
}

.skills {
  background-color: var(--color-gray);
}
.skill-box {
  display: flex;
  background-color: var(--color-dark-gray);
  margin-top: 20px;
}
.progress-box {
  flex-basis: 60%;
  background-color: var(--color-dark-gray-plus);
  padding: 20px 40px;
}
.sub-box {
  flex-basis: 40%;
}
.skill-list {
  color: white;
}
.tool-list {
  color: white;
}
.skill-des {
  display: flex;
  justify-content: space-between;
}
.progress {
  width: 100%;
  height: 5px;
  background-color: gray;
  margin-bottom: 10px;
}
.progress-color {
  width: 50%;
  height: 5px;
  background-color: rgb(238, 146, 40);
}
/* @media screen and (max-width: 500px) {
  :root {
  }
  body {
  }
} */
