@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html {
  width: 100%;
  height: 100%;
}
:root {
  --background-color: #f7f7f7;
  --color-dark: #1d1d20;
  --color-dark-gray: #6e6e73;
  --color-dark-gray-plus: #656569;
  --color-hover: #939393;
  --color-gray: #f5f5f7;
  --color-selfect: #535355;
  --color-unselect: #717176;
  --line-color: #a5a5a5;
  --border-radius: 4px;
  --rainbow-red: #ff595e;
  --rainbow-orange: #ffca3a;
  --rainbow-purple: #6a4c93;
  --rainbow-green: #8ac926;
  --rainbow-blue: #1982c4;

  /* Font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 300ms;
}
.sansserif {
  font-family: 'Helvetica Neue', HelveticaNeue, Arial, sans-serif;
}
.kr {
  font-family: 'NanumSquare', sans-serif;
}
/* Universal tags */
* {
  box-sizing: border-box;
  scroll-margin-top: 150px;
}
body {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin: auto;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-unselect);
}
ul {
  list-style: none;
  padding-left: 0;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gray);
  margin: 4px 0;
}
section {
  background-color: var(--color-gray);
  margin-bottom: 200px;
}
section#comment {
  margin-bottom: 0;
}

.fa-github:hover {
  opacity: 0.5;
  cursor: pointer;
}
.small {
  font-size: var(--font-small);
}
.line {
  border-bottom: 0.1px solid var(--line-color);
  opacity: 0.3;

  width: 90%;
  margin: 100px auto;
}
.logo {
  width: 55px;
  text-align: center;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: all var(--animation-duration) ease-in-out;
}
.logo:hover {
  transform: scale(1.3);
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  z-index: 1;
  transition: all 0.7s ease-in-out;
}
.nav-hidden {
  opacity: 0;
  pointer-events: none;
}
.nav-show {
  opacity: 1;
}

.navbar-menu {
  display: flex;
}
@keyframes navShow {
  0% {
    opactiy: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar-item {
  padding: 12px 12px;
  margin: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--animation-duration) ease-in-out;

  animation: navShow 2s;
}

.select {
  border: 0.5px solid rgb(188, 187, 187);
}
.toggle-icon {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-dark);
  display: none;
  border: none;
}

.profile-btn:hover {
  background-color: var(--rainbow-red);
  color: white;
}
.skills-btn:hover {
  background-color: var(--rainbow-orange);
  color: white;
}
.projects-btn:hover {
  background-color: var(--rainbow-green);
  color: rgb(255, 255, 255);
}
.comment-btn:hover {
  background-color: var(--rainbow-blue);
  color: white;
}
.contact-btn:hover {
  background-color: var(--rainbow-purple);
  color: white;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 800px;
  width: 100%;
  opacity: 0.8;
}
#main img {
  width: 2%;
}
.main-text {
  color: var(--color-dark-gray);
  font-size: 22px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.3);
  margin-top: 50px;
}
.round {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  /* transform: scale(1.5); */
  padding: 100px 0;
  animation: circle infinite 90s linear;
}
.circle-box {
  position: relative;
  transform: translate(-255px, -165px);
}
.circle-box > div {
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: 135px;
  margin-left: 120px;
  border-style: solid;
  border-width: 160px 50px 0;
  transform-origin: 135px 30px;
  cursor: pointer;
  outline: none;
}
.circle-box div:nth-child(1) {
  transform: rotate(0deg);
  border-color: var(--rainbow-red) transparent;
}
.circle-box div:nth-child(2) {
  /* background-color: #9ee09e; */
  transform: rotate(72deg);
  border-color: var(--rainbow-orange) transparent;
}
.circle-box div:nth-child(3) {
  /* background-color: #9ee09e; */
  transform: rotate(144deg);
  border-color: var(--rainbow-green) transparent;
}
.circle-box div:nth-child(4) {
  /* background-color: #9ee09e; */
  transform: rotate(216deg);
  border-color: var(--rainbow-blue) transparent;
}
.circle-box div:nth-child(5) {
  /* background-color: #9ee09e; */
  transform: rotate(288deg);
  border-color: var(--rainbow-purple) transparent;
}

.item:hover {
  opacity: 0.7;
}
.circle-box > div > span {
  position: relative;
  top: -120px;
  left: -130px;
  margin-right: 10px;
  background-color: none;
  width: 100px;
  height: 100px;

  display: block;
  position: relative;
  padding-bottom: 40px;
  transform: rotate(72deg);
  white-space: nowrap;
  z-index: 0;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section {
  text-align: center;
  padding: 20px;
}
.avatar > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.stack-box > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  filter: brightness(3.2);
}
#profile {
  position: relative;
  text-align: center;
}
.profile-h2 {
  margin: 40px auto;
}
.fa-react:hover {
  color: var(--rainbow-red);
  transform: rotate(-20deg) scale(2.2);
}
.fa-react {
  transition: all var(--animation-duration) ease;
  color: #087de4;
  font-size: 60px;
}
.stack-img-box {
  margin-top: 100px;
}
.stack-img-box h3 {
  margin-top: 20px;
}
.front-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 70px;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0.5;
  border: 0.1px solid rgb(152, 152, 152);
}
.study {
  margin: 10px auto;
}
.education {
  margin: 100px auto;
}
.log-gugu {
  filter: grayscale(100%);

  margin-top: 7px;
}

.skills {
  background-color: var(--color-gray);
  height: 70vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-box {
  display: flex;
  width: 100vw;
  max-width: 1200px;
  background-color: var(--color-dark-gray);
  margin-top: 20px;
}
.progress-box {
  flex-basis: 60%;
  background-color: var(--color-dark-gray-plus);
  padding: 20px 40px;
}
.progress-box:hover {
  margin-left: 150px;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.sub-box {
  flex-basis: 40%;
  padding: 20px 40px;
  transition: all 0.5s ease-in-out;
}
.sub-box:hover {
  margin-right: 150px;
  background-color: var(--color-dark-gray-plus);
  transform: scale(1.2);
  border-radius: 5px;
}
.skill-list {
  color: white;
}
.tool-list {
  color: white;
}
.skill-des {
  display: flex;
  justify-content: space-between;
}
.progress {
  width: 100%;
  height: 5px;
  background-color: gray;
  margin-bottom: 10px;
}
.progress-color {
  width: 50%;
  height: 5px;
  background-color: rgb(238, 146, 40);
}
#projects {
  background-color: var(--color-gray);
}
.project-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.projects-containal {
}
.projects-box {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: center;
}

.project-item {
  position: relative;
  border-radius: 6px;
  width: 350px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-gray);
}
.imgs {
  max-width: 100%;
  max-height: 100%;
}
.project-description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #535355;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 7px;
}
.project-item:hover .project-description {
  opacity: 0.9;
}
.project-description h3 {
  color: var(--background-color);
}
.project-description h3:after {
  content: '';
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  background-color: #171819;
}

.comment {
  height: 95vh;
  max-height: 800px;
}
.comment h1 {
  margin-top: 50px;
}
.comment-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-top: 50px;
}
.comment-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comment-name {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 18px 0px;
}
.comment-name i {
  font-size: 30px;
  margin-left: 5px;
}
.comment-content {
  width: 750px;
  margin-top: 120px;
  font-size: 17;
  opacity: 0.7;
  text-align: left;
}
.comment-containal {
  display: flex;
  justify-content: center;
}
.contact {
  height: 60vh;
  max-height: 450px;
  margin-top: 40px;
  background-color: var(--color-gray);
}
.contact h1 {
  margin-top: 70px;
}
.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-box i {
  margin-top: 50px;
  font-size: 70px;
  margin: 50px 10px;
}

/* ------------------------ */
@media screen and (max-width: 700px) {
  :root {
    overflow-x: hidden;
  }

  /* .nav-hidden {
    opacity: 1;
  } */
  .logo {
    width: 30px;
  }
  .main-container {
    transform: scale(0.8);
  }
  .toggle-icon {
    display: block;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
    /* padding: 20px 0; */
  }
  .navbar-menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .skills {
    position: relative;
    top: 90px;
  }
  .skill-box {
    position: relative;
    flex-direction: column;
  }
  .projects {
    position: relative;
    top: 290px;
  }
  .project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: relative;
    top: -120px;
  }
  .projects-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
  }
  .comment {
    position: relative;
    top: 1100px;
    display: flex;
    flex-direction: column;
  }
  .comment-containal {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .comment-profile {
    margin: 0 auto;
  }
  .comment-content {
    width: 100%;
  }
  .contact {
    position: relative;
    top: 1500px;
    left: 0;
  }
  .line {
    display: none;
  }
}
